+++
title = "Wiseinf"
linkTitle = "Wiseinf"

+++

{{< blocks/cover title="Wiseinf: 一站式云原生智能基建平台!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/consultations/" >}}">
		技术咨询 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/products/" >}}">
		产品介绍 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">提供企业数智化转型咨询、产品和解决方案。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Wiseinf基于对互联网、数字广告、企业服务等多行业数十年的实践经验和深刻理解，构建了以专家咨询、产品工具和解决方案为主的全流程服务矩阵，以分布式、微服务、云原生、深度学习等行业先进技术架构和算法，帮助企业顺利完成数智化转型和升级，降本增效。
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-solid fa-user" title="专家咨询" url="/consultations/"%}}
提供企业数智化转型咨询，帮助企业规划技术演进路线，协助审查技术架构，识别并规避项目中技术风险，提升研发人员效能，更轻松更顺利的实现数智化转型。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-list" title="产品工具" url="/products/" %}}
提供成本洞察的工具，帮助企业在数智化转型过程中降本增效。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-star" title="解决方案" url="/solutions/" %}}
基于Wiseinf对多行业数十年的深入理解和实践，提供多重行业解决方案。
{{% /blocks/feature %}}


{{< /blocks/section >}}